<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cammWM" version="4.12.2117.104" targetFramework="net45" />
  <package id="CompuMaster.Data" version="3.0.2021.714" targetFramework="net45" />
  <package id="CompuMaster.Data.XlsEpplus" version="3.0.2021.715" targetFramework="net45" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net45" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net45" />
  <package id="System.DirectoryServices" version="5.0.0" targetFramework="net45" />
</packages>