<?xml version="1.0" encoding="utf-8"?><configuration>
	<appSettings>
		<add key="WebManager.ConnectionString" value="SERVER=localhost;DATABASE=camm WebManager"/>
		<add key="WebManager.ServerIdentification" value="localhost"/>
		<add key="WebManager.DebugLevel" value="0"/>
		<add key="WebManager.SMTPServerName" value="localhost"/>
		<add key="WebManager.SMTPServerPort" value="25"/>
		<!--
	            Configures the authentication methods for the SMTP server
	            The authentification type, possible values are "" or "NONE", "LOGIN", "PLAIN", "CRAM-MD5", or "NTLM"
		-->
		<add key="WebManager.SMTPServerAuthentificationMode" value="None"/>
		<add key="WebManager.SMTPUsername" value=""/>
		<add key="WebManager.SMTPPassword" value=""/>
		<add key="WebManager.UseFrameset" value="true"/>
		<add key="WebManager.CreationOnTheFly" value="Off"/>
		<add key="WebManager.CookieLess" value="false"/>
		<add key="WebManager.CompactPolicy" value=""/>
		<add key="WebManager.StandardEMailAccountName" value="Secured Area Administration"/>
		<add key="WebManager.StandardEMailAccountAddress" value="saa@yourdomain.com"/>
		<add key="WebManager.DevelopmentEMailAccountAddress" value="developer@yourdomain.com"/>
		<add key="WebManager.TechnicalServiceEMailAccountName" value="OnlineService"/>
		<add key="WebManager.TechnicalServiceEMailAccountAddress" value="onlineservice@yourdomain.com"/>
		<add key="WebManager.NotifyOnApplicationExceptions" value="2"/>
		<add key="WebManager.ProcessMailQueue" value=""/>
		<add key="WebManager.Languages.Default" value=""/>
		<add key="WebManager.Languages.ForcedLanguage" value=""/>
		<add key="WebManager.TextModules.ServerGroupID.Default" value=""/>
		<add key="WebManager.TextModules.ServerGroupID.Forced" value=""/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="vb" debug="true"></compilation>
		<customErrors mode="Off">  
			 <error statusCode="404" redirect="/"/>
		</customErrors>
		<authentication mode="None"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
</configuration>