/applications
/documentation
/tools
/services
/libraries/components
/libraries/smarteditor/packages
/libraries/smarteditor/radeditor3
/libraries/smarteditor/PlainTextEditorTestNDevWeb
/libraries/base/NDoc
/libraries/base/Tests
/libraries/base/Debug-TestApp
/libraries/base/cammWM/bin
/libraries/base/cammWM/obj
/libraries/base/camm.WebControls
/libraries/adminarea/CammWM.Admin/obj
/libraries/adminarea/CammWM.Admin/!IMPORTANT BUILD INFORMATION.txt
/libraries/adminarea/CammWM.Admin/nightly_start_manually.bat
/libraries/adminarea/CammWM.Admin/nightly_start_nant.bat
/libraries/adminarea/CammWM.Admin/libs
/libraries/adminarea/cwmroot_aspx - released files at cwezel
/webs/cwmroot_php
/libraries/base/Internationalizations/bin/Dev-Arabisch
/libraries/base/Internationalizations/bin/out/web-scripts-aspx
/libraries/base/Internationalizations/bin/out/cwm-lib
/libraries/base/Internationalizations/bin/out/db-sqls
/libraries/base/Internationalizations/bin/out/web-scripts-asp
/libraries/base/cammWM/build_tools
/libraries/base/cammWM/libs_1_1
/libraries/base/cammWM/libs_2_0
/libraries/base/cammWM/libs
/libraries/base/cammWM/doc
/libraries/base/cammWM/packages
/libraries/base/cammWM/nightly_resourcewriter.bat
/libraries/base/cammWM/nightly.bat
/libraries/base/cammWM/*.build
/libraries/base/cammWM/Refresh DBSetup Resource.lnk
/libraries/base/cammWM/Refresh DBSetup Resource - in Lw-R folder structure.cmd
/libraries/base/cammWM/Refresh DBSetup Resource - in SVN folder structure.cmd
/libraries/base/cammWM/WebEdit_sWcms3.vb
/libraries/base/cammWM/WebEdit.resx
/libraries/smarteditor/baseeditor/obj
/libraries/smarteditor/baseeditor/bin
/libraries/smarteditor/baseeditor/libs
/database/ICSharpCode.SharpZipLib.dll
/database/Important HowTo/Default Constraint.txt
/libraries/adminarea/CheckFileConsistencyRessourceWriter/bin
/webs/cwmroot_aspx/system/nav/componentart_webui_client
/webs/cwmroot_aspx/system/nav/aspnetmenu_client
/webs/cwmroot_aspx/RadControls
/webs/cwmroot_aspx/sysdebug/componentart_navigation_samples
/webs/cwmroot_aspx/aspnet_client
/webs/cwmroot_aspx/modulesamples/navigation_2_advanced_componentart
/webs/cwmroot_aspx/sysdebug/radspell
/webs/cwmroot_aspx/sysdebug
/webs/cwmroot_asp_optional
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/ASPnetMenu.dll
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/ComponentArt.Web.UI.dll
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/ICSharpCode.SharpZipLib.dll
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/Microsoft.Office.Interop.Word.dll
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/Microsoft.Vbe.Interop.dll
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/RadChart.dll
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/RadEditor.DLL
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/RadSpell.dll
/database/howto-use ApprightsCummulatedFastEdition as table
/database/Important HowTo
/database/ToDo-AppsVsSecurityObjects
/database/todo-brokenAppRightReferencesCleanUp
/database/ToDo-ipV6-Support
/sensitive code parts.txt
/webs/cwmroot_aspx/modulesamples/single-sign-on/ads/wwwroot/sso/bin/ComponentArt.Web.UI.xml
/webs/cwmroot_aspx/bin/cammWebExplorer.Base.dll.VisualState.xml
/webs/cwmroot_aspx/bin/cammWebExplorer.Base.pdb
/webs/cwmroot_aspx/bin/cammWebExplorer.Base.xml
/webs/cwmroot_aspx/bin/ASPnetMenu.dll
/webs/cwmroot_aspx/bin/camm.WebControls.dll
/webs/cwmroot_aspx/bin/cammWebExplorer.Base.dll
/webs/cwmroot_aspx/bin/ICSharpCode.SharpZipLib.dll
/webs/cwmroot_aspx/bin/ComponentArt.Web.UI.dll
/webs/cwmroot_aspx/bin/ComponentArt.Web.UI.dll.VisualState.xml
/webs/cwmroot_aspx/bin/ComponentArt.Web.UI.pdb
/webs/cwmroot_aspx/bin/ComponentArt.Web.UI.xml
/webs/cwmroot_aspx/bin/CompuMaster.Imaging.dll
/webs/cwmroot_aspx/bin/CompuMaster.Imaging.pdb
/webs/cwmroot_aspx/bin/CompuMaster.Imaging.xml
/webs/cwmroot_aspx/bin/Office.dll
/webs/cwmroot_aspx/bin/RadChart.dll
/webs/cwmroot_aspx/bin/RadEditor.dll
/webs/cwmroot_aspx/bin/RadSpell.dll
/webs/cwmroot_aspx/bin/SMTP.Net.dll
/webs/cwmroot_aspx/bin/SMTP.Net.xml
/webs/cwmroot_aspx/bin/stdole.dll
/webs/cwmroot_aspx/bin/Microsoft.Office.Interop.Word.DLL
/webs/cwmroot_aspx/bin/Microsoft.Vbe.Interop.DLL
/libraries/smarteditor/.vs
.vs
/Partially published sources on GitHub.url
/libraries/base/cammWM/MessagingEMails.vb
/libraries/adminarea/CammWM.Admin/cammWM.snk
/libraries/base/cammWM/cammWM.snk
/libraries/adminarea/CammWM.Admin/*.user
/libraries/smarteditor/cammWMEditor4 - Idee mit Sourcen - PageAddRemove.lnk
/setup and distribution/AutoStart-DemoShield
/setup and distribution/DbUpdateTool/*.user
/setup and distribution/DbUpdateTool/bin
/setup and distribution/tools_compileandpublish
/setup and distribution/DistributionFiles_Overrides
/setup and distribution/MSAzurePlatformReadyTest
/setup and distribution/DBUpdateWizard
/setup and distribution/DbUpdateManagers.sln
/setup and distribution/DbUpdateTool/obj
/setup and distribution/packages
/setup and distribution/DbUpdateTool/libs/cammWM.pdb
/setup and distribution/DbUpdateTool/libs/cammWM.xml
/setup and distribution/DbUpdateTool/libs/ICSharpCode.SharpZipLib.dll
/setup and distribution/DbUpdateTool/libs/cammWM.dll
/setup and distribution/DbUpdateTool/devsql-azure.SENSITIVEDATAWARNING.cmd
/setup and distribution/DbUpdateTool/devsql-2005-up-till-azure.SENSITIVEDATAWARNING.cmd
/setup and distribution/DbUpdateTool/devsql-2014-up-till-azure.SENSITIVEDATAWARNING.cmd
/setup and distribution/resourcewriter/libs/ICSharpCode.SharpZipLib.dll
/libraries/adminarea/CammWM.Admin/bin/Microsoft.Office.Interop.Word.dll
/libraries/adminarea/CammWM.Admin/bin/Microsoft.Vbe.Interop.dll
/libraries/adminarea/CammWM.Admin/bin/Office.dll
/libraries/adminarea/CammWM.Admin/bin/RadEditor.dll
/libraries/adminarea/CammWM.Admin/bin/RadSpell.dll
/libraries/adminarea/CammWM.Admin/bin/stdole.dll
/libraries/adminarea/CammWM.Admin/bin/SMTP.Net.dll
/libraries/adminarea/CammWM.Admin/bin/SMTP.Net.xml
/libraries/adminarea/CammWM.Admin/bin/CompuMaster.Imaging.dll
/libraries/adminarea/CammWM.Admin/bin/CompuMaster.Imaging.pdb
/libraries/adminarea/CammWM.Admin/bin/CompuMaster.Imaging.xml
/libraries/adminarea/CammWM.Admin/bin
/libraries/smarteditor/CommonMarkEditor/bin
/libraries/smarteditor/CommonMarkEditor/obj
/libraries/smarteditor/CommonMarkEditor/*.user
/libraries/base/cammWM/cammWM.VS2008.vbproj.user
/libraries/base/cammWM/cammWM.VS2010.sln
/libraries/base/cammWM/cammWM.VS2010.vbproj
/libraries/base/cammWM/cammWM.VS2010.vbproj.user
/libraries/base/cammWM/cammWM.VS2012.jmconfig
/libraries/base/cammWM/cammWM.VS2015.sln
/libraries/base/cammWM/cammWM.VS2015.vbproj
/libraries/base/cammWM/cammWM.VS2003.sln
/libraries/base/cammWM/cammWM.VS2003.vbproj
/libraries/base/cammWM/cammWM.VS2005.sln
/libraries/base/cammWM/cammWM.VS2005.vbproj
/libraries/base/cammWM/cammWM.VS2005.vbproj.user
/libraries/base/cammWM/cammWM.VS2008.sln
/libraries/base/cammWM/cammWM.VS2008.vbproj
/libraries/base/cammWM/cammWM.Dotfuscator.xml
/libraries/adminarea/CammWM.Admin/cammWM.Admin.VS2015.vbproj
/libraries/adminarea/CammWM.Admin/cammWM.Admin.VS2005.sln
/libraries/adminarea/CammWM.Admin/cammWM.Admin.VS2005.vbproj
/libraries/adminarea/CammWM.Admin/cammWM.Admin.VS2005.vbproj.user
/libraries/base/cammWM/AssemblyInfo.Commercial.vb
/libraries/smarteditor/TODOs.txt
