<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cammWM" version="4.12.2112.100" targetFramework="net40" />
  <package id="cammWM.WebApp" version="4.12.209.101-beta" targetFramework="net40" />
  <package id="cammWM.WebRootAdminApp" version="4.12.209.101-beta2" targetFramework="net40" />
  <package id="cammWM.WebRootApp" version="4.12.209.101-beta2" targetFramework="net40" />
</packages>