body 
{
	font-family:Verdana, Arial; 
	font-size:11px; 
	color:#000000; 
	BACKGROUND-COLOR: #F7F7F7; 
	scrollbar-3d-light-color: #EEEEEE; 
	scrollbar-arrow-color: #004470; 
	scrollbar-base-color: #C1C1C1; 
	scrollbar-dark-shadow-color: #EEEEEE; 
	scrollbar-track-color: #EEEEEE; 
	scrollbar-face-color: #EEEEEE; 
	scrollbar-highlight-color: #EEEEEE; 
	scrollbar-shadow-color: #EEEEEE; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
} 

.header1 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16pt; 
	font-weight: bold; 
	color: black; 
} 

.header2 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt; 
	font-weight: bold; 
	color: black; 
}
 
td 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
}
 
.Link:link 
{ 
	color: #808080; 
	text-decoration:underline; 
	font-weight: normal; 
}
 
.Link:visited 
{ 
	color: #808080; 
	text-decoration:underline; 
	font-weight: normal; 
}
 
.Link:active 
{ 
	color: #808080; 
	text-decoration:underline; 
	font-weight: normal; 
}
 
.Link:hover 
{ 
	color: #c0c0c0; 
	text-decoration:underline; 
	font-weight: normal; 
} 

a
{
	text-decoration:none;
}

.Rt
{
	background-color:gray;
	color:white;
	font-weight:bold;
}