<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WebManager.ConnectionString" value="SERVER=localhost;DATABASE=camm WebManager;PWD=;UID=" />
        <add key="WebManager.ServerIdentification" value="localhost" />
        <add key="WebManager.DebugLevel" value="5" />
        <add key="WebManager.SMTPServerName" value="localhost" />
        <add key="WebManager.SMTPServerPort" value="25" />
        <add key="WebManager.StandardEMailAccountName" value="Secured Area Administration" />
        <add key="WebManager.StandardEMailAccountAddress" value="admin@localhost" />
        <add key="WebManager.DevelopmentEMailAccountAddress" value="admin@localhost" />
        <add key="WebManager.TechnicalServiceEMailAccountName" value="OnlineService" />
        <add key="WebManager.TechnicalServiceEMailAccountAddress" value="admin@localhost" />
        <add key="WebManager.NotifyOnApplicationExceptions" value="1" />
    </appSettings>
    <system.web>
        <authentication mode="Windows" />
        <compilation debug="false" />
        <customErrors mode="On" />
    </system.web>
    <location path="logon.aspx">
        <system.web>
            <authorization>
                <allow roles="localdomain\domain-users" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
</configuration>