<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cammWM" version="4.10.206.101" targetFramework="net20" />
  <package id="cammWM.CommonMarkEditor" version="4.10.206.102" targetFramework="net20" />
  <package id="cammWM.SmartEditor" version="4.10.206.102" targetFramework="net20" />
  <package id="cammWM.SmartEditorUpload" version="4.10.206.102" targetFramework="net20" />
  <package id="CommonMark.NET" version="0.11.0" targetFramework="net20" />
  <package id="CompuMaster.Imaging" version="2016.8.26.100" targetFramework="net20" />
</packages>