<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Image Data Management settings -->
		<add key="WebManager.Wcms.ImageUploads.SampleFile" value="/system/modules/smartwcms/images/samplefile.jpg" />
		<add key="WebManager.Wcms.ImageUploads.NumberOfFrameTypes" value="4" />
		<add key="WebManager.Wcms.ImageUploads.SampleFrameFile1" value="/system/modules/smartwcms/images/samplefile_1.jpg" />
		<add key="WebManager.Wcms.ImageUploads.SampleFrameFile2" value="/system/modules/smartwcms/images/samplefile_2.jpg" />
		<add key="WebManager.Wcms.ImageUploads.SampleFrameFile3" value="/system/modules/smartwcms/images/samplefile_3.jpg" />
		<add key="WebManager.Wcms.ImageUploads.SampleFrameFile4" value="/system/modules/smartwcms/images/samplefile_4.jpg" />
		<!-- Shall the button for image reduction/resizing be enabled by default? -->
		<add key="WebManager.Wcms.ImageUploads.ImageReduction" value="true" />
		<!-- Default options for resizing -->
		<add key="WebManager.Wcms.ImageUploads.MiniatureView" value="true" />
		<add key="WebManager.Wcms.ImageUploads.MiniatureViewMaxWidth" value="150" />
		<add key="WebManager.Wcms.ImageUploads.MiniatureViewMaxHeight" value="150" />
		<add key="WebManager.Wcms.ImageUploads.NormalView" value="true" />
		<add key="WebManager.Wcms.ImageUploads.NormalViewMaxWidth" value="250" />
		<add key="WebManager.Wcms.ImageUploads.NormalViewMaxHeight" value="300" />
	</appSettings>
</configuration>
