<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sourceview" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <system.web>
    <sourceview>
      <add key="root" value="/modulesamples/" />
    </sourceview>

  </system.web>
</configuration>

